<div class="form create" id="create-form">
  <%= form_for [user, user.tweets.build], remote: true do |form| %>
    <%-# TODO: Form errors. How do I define the tweet object here? %>

    <fieldset form="<%= form.options[:html][:id] %>" name="create__contents">
      <%= form.text_area :content, placeholder: 'Do you want to nttr?', maxlength: 140, class: 'create__content', tabindex: 1 %>
    </fieldset>

    <fieldset form="<%= form.options[:html][:id] %>" name="text create__submission">
      <%-# Tweet length counter. %>
      <span class="form__span create__counter float--left disp--none">0</span>
      <%= form.submit 'nttr', class: 'submit create__submit' %>
    </fieldset>
  <% end %>
</div>
