<div class="register clearfix form-auth" id="register">
  <% if user.errors.any? %>
    <%= render partial: 'shared/errors', locals: { object: user } %>
  <% end %>

  <%= form_for user, html: { class: 'form clearfix' } do |form| %>
    <h4 class="vmargin-full">New to nttr? <small>Sign up</small></h4>
    <div class="form-group">
      <%= form.text_field :login, class: 'form-control vmargin-half', placeholder: 'Username' %>
      <%= form.text_field :nicename, class: 'form-control vmargin-half', placeholder: 'Full Name' %>
      <%= form.text_field :email, class: 'form-control vmargin-half', placeholder: 'Email' %>
      <%= form.password_field :password, class: 'form-control vmargin-half', placeholder: 'Password' %>
      <%= form.password_field :password_confirmation, class: 'form-control vmargin-half', placeholder: 'Confirm password' %>
      <%= form.submit 'Sign up for nttr', class: 'btn btn-warning pull-right text-black' %>
    </div>
  <% end %>
</div>
