<div class="welcome__form rounded border--thin register" id="register">
  <% if user.errors.any? %>
    <%= render partial: 'shared/errors', locals: { object: user } %>
  <% end %>

  <%= form_for user, html: { class: 'form clearfix' } do |form| %>
    <h2 class="vmargin--half">New to nttr? <span class="text--small text--light">Sign up</span></h2>
    <fieldset>
      <%= form.text_field :login, class: 'vmargin--half display--block form--input', placeholder: 'Username' %>
      <%= form.text_field :nicename, class: 'vmargin--half display--block form--input', placeholder: 'Full Name' %>
      <%= form.text_field :email, class: 'vmargin--half display--block form--input', placeholder: 'Email' %>
    </fieldset>

    </fieldset>
      <%= form.password_field :password, class: 'vmargin--half display--block form--input', placeholder: 'Password' %>
      <%= form.password_field :password_confirmation, class: 'vmargin--half display--block form--input', placeholder: 'Confirm password' %>
    </fieldset>

    <fieldset>
      <%= form.submit 'Sign up for nttr', class: 'button button--submit form--submit float--right' %>
    </fieldset>
  <% end %>
</div>
