<%-# Twitter default is to show either your tweets, or the register and login forms. %>
<% if current_user %>

  <%-# Fetch all tweets + tweet-form if logged in. %>
  <div class="tweets border--thin rounded" id="tweets">
    <%= render partial: 'tweets/create', locals: { user: @user, tweet: @user.tweets.build } %>
    <div class="tweet-list">
      <%= render partial: 'tweets/tweet', collection: Tweet.includes(:user).order('created_at desc').all %>
    </div>
  </div>

<% else %>

  <div class="welcome" id="welcome">
    <div class="float--left welcome__greeting">
      <h1 class="welcome__title">Welcome to nttr.</h1>
      <p class="welcome__message">Join <%= @users.count %> other people at nttr, the world's greatest vowelless microblogging service.</p>
    </div>

    <div class="float--right welcome__forms">
      <%= render partial: 'user_sessions/login', locals: { user_session: @user_session } %>
      <%= render partial: 'users/register', locals: { user: @user } %>
    </div>
  </div>

<% end %>
