<div class="login" id="login">
  <% if user_session.errors.any? %>
    <ul class="login__errors">
      <% user_session.errors.each do |attribute, message| %>
        <li class="login__error error">
          <%= content_tag :span, attribute, class: 'error__attribute' %>
          <%= content_tag :span, message, class: 'error__message' %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for user_session do |form| %>
    <fieldset form="<%= form.options[:html][:id] %>">
      <%= form.label :login, 'Username:' %>
      <%= form.text_field :login %>
    </fieldset>

    <fieldset form="<%= form.options[:html][:id] %>">
      <%= content_tag :span, form.label(:password, 'Password:'), class: 'login__password-label label' %>
      <%= content_tag :span, form.password_field(:password), class: 'login__password' %>
    </fieldset>

    <fieldset form="<%= form.options[:html][:id] %>">
      <%= content_tag :span, form.label(:remember_me), class: 'login__remember-label label' %>
      <%= content_tag :span, form.check_box(:remember_me), class: 'login__remember' %>
    </fieldset>
    
    <fieldset form="<%= form.options[:html][:id] %>">
      <%= content_tag :span, form.submit('Sign In'), class: 'login__submit' %>
    </fieldset>
  <% end %>
</div>
