<div class="form login" id="login-form">
  <% if user_session.errors.any? %>
    <ul class="errors login__errors">
      <% user_session.errors.each do |attribute, message| %>
        <li class="login__error error">
          <%= content_tag :span, attribute, class: 'error__attribute' %>
          <%= content_tag :span, message, class: 'error__message' %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for user_session do |form| %>
    <fieldset form="<%= form.options[:html][:id] %>" name="login__usernames">
      <%= form.label :login, 'Username:', class: 'login__username-label' %>
      <%= form.text_field :login, class: 'name login__username' %>
    </fieldset>

    <fieldset form="<%= form.options[:html][:id] %>" name="login__passwords">
      <%= form.label :password, 'Password:', class: 'login__password-label label' %>
      <%= form.password_field :password, class: 'password login__password' %>
    </fieldset>

    <fieldset form="<%= form.options[:html][:id] %>" name="login__rememberance">
      <%= form.label :remember_me, class: 'login__remember-label label' %>
      <%= form.check_box :remember_me, class: 'check login__remember' %>
    </fieldset>
    
    <fieldset form="<%= form.options[:html][:id] %>" name="login__submission">
      <%= form.submit'Sign In', class: 'submit login__submit' %>
    </fieldset>
  <% end %>
</div>
