<div class="welcome__form border--thin login vmargin--full" id="login">
  <% if user_session.errors.any? %>
    <%= render partial: 'shared/errors', locals: { object: user_session } %>
  <% end %>

  <%= form_for user_session, html: { class: 'clearfix form' } do |form| %>
    <fieldset>
      <%= form.text_field :login, class: 'vmargin--half display--block form--input', placeholder: 'Username', autofocus: true %>
    </fieldset>

    <fieldset>
      <%= form.password_field :password, class: 'float--left vmargin--half form--input', placeholder: 'Password' %>
      <%= form.submit'Sign In', class: 'float--right button button--submit form--submit' %>
    </fieldset>

    <fieldset>
      <%= form.check_box :remember_me, class: 'form-control', checked: true %>
      <%= form.label :remember_me, 'Remember me', class: 'text--small' %>
    </fieldset>
  <% end %>
</div>

