<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= controller.controller_name %></title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <% if current_user_session %>
    <%= render partial: 'layouts/actionbar' %>
  <% else %>
    <%-# Not logged in stuff here. %>
  <% end %>

  <% flash.keys.each do |key, value| %>
    <%-# TODO: Better style and handling. %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <main class="nttr <%= current_user_session ? 'session' : 'no-session' %>" id="nttr">
    <%= yield %>
  </main>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
